

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button  routerLink="/home" routerLinkActive="active">Inicio</a>
                <a mat-button routerLink="/products"  routerLinkActive="active">Productos</a>
                <!-- <a mat-button routerLink="/contact" routerLinkActive="active" >Contacto</a> -->
                </nav> 
        </div>
        
            <a routerLink="/order" mat-raised-button matBadgeColor="warn" [matBadge]="total$ | async">
                <mat-icon>shopping_cart</mat-icon></a>

                <a mat-button routerLink="/auth/login" routerLinkActive="active" >Login</a>
      
    </mat-toolbar-row>
  
   
  </mat-toolbar>
  