<div *ngIf="product">

    <div>
        <img [src]="product.image" alt="">
    </div>
    <div>
        <ul>
            <li>Nombre: {{product.title}}</li>
            <li>Precio:  {{product.price |currency}}</li>
            
        </ul>
        <p>Descripción: {{product.description}}</p>
    </div>
<button (click)="create()">Crear</button>
<button (click)="update()">Actualizar</button>
<button (click)="delete()">Eliminar</button>
</div>