<mat-horizontal-stepper>
    <mat-step>
      <ng-template matStepLabel>Sus productos</ng-template>
      <div *ngIf="(products$ | async) as products">
          <p *ngIf="products.length === 0">no hay productos</p>
          
         
          

          <div class="row" *ngFor="let product of products">
            <div class="col-xs-12 col-sm-2 col-md-2">
              <div class="box">
                <img class="image" [src]="product.image" alt="">
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
              <div class="box">
              <h4><strong> Producto</strong> </h4> {{ product.title }}
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
              <div class="box">
                <h4><strong> Precio </strong> </h4> {{ product.price }}
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="box">
                    <button mat-mini-fab color="primary" (click)="addProduct(product)">+</button>
                    <button mat-mini-fab color="accent" >-</button>
                </div>
              </div>
          </div>
      </div>
      
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Datos personales</ng-template>
      <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-lg-5 grid-margin stretch-card">
                    <!--form mask starts-->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Form input mask example</h4>
                            <p class="card-description">Take a preview of input mask format</p>
                           
                                <div class="form-group row">
                                    <div class="col"> <label>Date:</label> <input class="form-control" data-inputmask="'alias': 'date'"> </div>
                                    <div class="col"> <label>Date time:</label> <input class="form-control" data-inputmask="'alias': 'datetime'"> </div>
                                </div>
                                <div class="form-group"> <label>Date with custom placeholder:</label> <input class="form-control" data-inputmask="'alias': 'date','placeholder': '*'"> </div>
                                <div class="form-group"> <label>Phone:</label> <input class="form-control" id="phone" data-inputmask="'alias': 'phonebe'"> </div>
                                <div class="form-group"> <label>Currency:</label> <input class="form-control" data-inputmask="'alias': 'currency'" style="text-align: right;"> </div>
                                <div class="form-group row">
                                    <div class="col"> <label>Email:</label> <input class="form-control" data-inputmask="'alias': 'email'"> </div>
                                    <div class="col"> <label>Ip:</label> <input class="form-control" data-inputmask="'alias': 'ip'"> </div>
                                </div>
                            
                        </div>
                    </div>
                    <!--form mask ends-->
                </div>
            </div>
        </div>
        <!--form mask ends-->
    </div>
        
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Pago</ng-template>
   
      <div class="card mt-50 mb-50">
        <div class="card-title mx-auto"> Pago </div>
        <div class="nav">
            <ul class="mx-auto">
               
                <li class="active"><a href="#">Información de pago</a></li>
            </ul>
        </div>
       <span id="card-header">Tarjetas agregadas:</span>
            
            <div class="row row-1">
                <div class="col-2"><img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" /></div>
                <div class="col-7"> <input type="text" placeholder="**** **** **** 4296"> </div>
                
            </div> 
            <div class="row-1">
                <div class="row row-2"> <span id="card-inner">Nombre de la tarjeta</span> </div>
                <div class="row row-2"> <input type="text" placeholder="Shanexon Ortiz"> </div>
            </div>
            <div class="row three">
                <div class="col-7">
                    <div class="row-1">
                        <div class="row row-2"> <span id="card-inner">Número de tarjeta</span> </div>
                        <div class="row row-2"> <input type="text" placeholder="5134-5264-4"> </div>
                    </div>
                </div>
                <div class="col-2"> <input type="text" placeholder="Fecha de expiración"> </div>
                <div class="col-2"> <input type="text" placeholder="CVV"> </div>
            </div> <button class="btn d-flex mx-auto"><b>Añadir tarjeta</b></button>
        
    </div>
 


      



    </mat-step>
  </mat-horizontal-stepper>