<mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="register($event)" >
        <h2>Register</h2>
        <!-- <mat-error >
          The username and password were not recognised
        </mat-error> -->
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="email" >
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input"> 
          <input matInput type="password" placeholder="Password" formControlName="password" >
          <!-- <mat-error>
            Please provide a valid password
          </mat-error> -->
        </mat-form-field>
        <p>Ya tiene una cuenta? <a mat-button routerLink="/auth/login" routerLinkActive="active" >Inicie Sesión</a></p> 
        <button mat-raised-button  [disabled]="form.invalid" type="submit" color="primary">Registrar</button>
      </form>
    </mat-card-content>
  </mat-card>