<input type="text" [(ngModel)]="power">
{{power | exponential }} 


<input type="text" [(ngModel)]="title">
{{ title }}


<div *ngIf="title === 'nicolas'"> 
  este es nicolas
</div>

<div *ngIf="title === 'julian'">
  este es julian
</div>

<div *ngIf="title === 'camilo'">
  este es camilo
</div> 

<div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'">este es nicolas</p>
  <p *ngSwitchCase="'julian'">este es julian</p>
  <p *ngSwitchCase="'camilo'">este es camilo</p>
  <p *ngSwitchDefault>no hay match</p>
</div>

<input #input type="text">
<button (click)="addText()">Click me to add some text</button>
<button (click)="reset()">Reset</button>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="array.length === 0">la lista esta vacia</li>
  <li *ngFor="let name of array; index as i" >
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul> 

<h1> {{1 + '1' }} </h1>

