<mat-card>
    <mat-card-content>
      <form  [formGroup]="form" (ngSubmit)="login($event)">
        <h2>Iniciar Sesión</h2>
        <!-- <mat-error >
          The username and password were not recognised
        </mat-error> -->
        <mat-form-field class="full-width-input">
          <input matInput type="email" placeholder="Email" formControlName="email" required>
          <mat-error>
            Ingrese un correo valido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
          Ingrese la contraseña
          </mat-error>
        </mat-form-field>
       <p>No tiene una cuenta? <a mat-button routerLink="/auth/register" routerLinkActive="active" >Registrese</a></p> 
        <button  [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Ingresar</button>
      </form>
    </mat-card-content>
  </mat-card>