<div class="swiper-container">

    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of images">
            <img [src]="item" alt="">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

</div>
