<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
<mat-card class="col" >

<mat-card-header>
    <mat-card-title>Prducto</mat-card-title>
</mat-card-header>

<mat-card-content>
    
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <input placeholder="id" formControlName="id" matInput type="text" value="">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <input placeholder="Titulo" formControlName="title" matInput type="text" value="">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <input placeholder="Precio" formControlName="price" matInput type="number" value="">
                </mat-form-field>
                <div *ngIf="priceField.errors && priceField.dirty">
                    <mat-error *ngIf="priceField.hasError('price_Invalid')"> El precio no es valido </mat-error>
                <mat-error *ngIf="priceField.hasError('required')"> El campo es obligatorio </mat-error>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img  *ngIf="(image$ | async) as image" [src]="image" style="height: 100px; width: 100px;" >
                <input type="file" (change)="uploadFile($event)">
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <textarea placeholder="Descripción" formControlName="description" matInput > </textarea>
                </mat-form-field>
            </div>
        </div>

    
    
    
    <mat-card-actions>
        <button mat-raised-button  [disabled]="form.invalid" type="submit">Guardar</button>
    </mat-card-actions>
    

</mat-card-content>

</mat-card>
    

</form>