.table{

width: 95%;
margin: 2%;

}

body {
    background-color: #F5F5F5
}

.mt-200 {
    margin-top: 200px
}

.dropbtn {
    background-color: #2196F3;
    color: white;
    padding: 6px;
    font-size: 14px;
    border: none;
    border-radius: 3px
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block
}

.dropdown:hover .dropbtn {
    background-color: #79b2e7
}