<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://use.fontawesome.com/94b09d22ca.js"></script>
<button mat-raised-button color="default" routerLink="create"><mat-icon mat-button>add</mat-icon>Crear Producto</button> 
<table mat-table [dataSource]="products" class="mat-elevation-z8 table">

    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let item"> {{item.id}} </td>
      </ng-container>
     <ng-container matColumnDef="Titulo">
        <th mat-header-cell *matHeaderCellDef> Titulo </th>
        <td mat-cell *matCellDef="let item"> {{item.title}} </td>
      </ng-container> 

      <ng-container matColumnDef="Precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let item"> {{item.price}} </td>
      </ng-container>
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let item"> 
          <div class=" mt-2"> 
            
            <div class="dropdown"> <button class="dropbtn"><mat-icon mat-button>list</mat-icon></button>
                <div class="dropdown-content"> 
                  <button mat-button color="warn" (click)="deleteProducts(item.id)"><mat-icon mat-button>delete</mat-icon></button> 
                  <button mat-button color="primary" [routerLink]="['edit', item.id]"><mat-icon mat-button>edit</mat-icon></button> </div>
            </div>
        </div>
            
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      
</table>




	



