
// :host{
//     border: 1px solid black;
//     margin: 2px;
//     border-radius: 5px;
//     display: block;;

// }

.crop-image {
  display: block;
  height: 300px;
  width: 100%;
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-position: center;
  }
}


// .product-grid{

//     display: grid;
//     grid-template-columns: repeat(
//       auto-fill,
//       minmax(300px, 1fr)
//     ); 

// }