<mat-card>

<mat-card-header>
    <mat-card-title>{{ product.title | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
</mat-card-header>

<div class="crop-image"> 
    <img [src]="product.image" alt="">
</div>
<mat-card-content> 
<p>{{ product.description | slice:0:20 }}</p>

</mat-card-content>
<mat-card-actions>
    <a mat-button routerLink="/products/{{product.id}}" >Detalle producto</a> 
    <button mat-raised-button color="primary" (click)="addCart()">Agregar al carrito</button>
    
</mat-card-actions>
</mat-card>
<!--  
 <h3 appHighlight [backgroundColor]="'red'" [color]="'#ffffff'" ></h3>
 <img [src]="product.image" alt="">
 <strong>{{ product.price | currency }}</strong>
 <p>{{ product.description | slice:0:20 }}</p>
 <p>{{ today | date:'fullDate'}}</p>
 <button mat-raised-button color="primary" (click)="addCart()">Agregar al carrito</button> -->
