

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px 20px; // nos hará breakpoints cada 300px
    .container{

      width: 100%;
      padding-right: 16px;
      padding-left: 16px;
      margin-right: auto;
      margin-left: auto;
    
    }
  }

  
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


